<div class="container"> 
    <section class="page">
        <div class="title">
            <h1 class="title-text">Контакти</h1>
            <img src="../images/contacts-background.png" class="title-img">
        </div>
        <div class="row contacts-section">
            <div class="col col-md-12">
                <img src="../images/font-icons/location-icon.png">
                <span>Магазин: гр. Ракитово ул."Васил Левски" №24</span>
            </div>
            <div class="col col-md-4">
                <img src="../images/font-icons/phone-icon.png">
                <span>0884 809 484</span>
            </div>
            <div class="col col-md-4">
                <img src="../images/font-icons/phone-icon.png">
                <span>03542 3444</span>
            </div>
            <div class="col col-md-4">
                <img src="../images/font-icons/email-icon-2.png">
                <span>gimi-stroi@abv.bg</span>
            </div>
        </div>
        <div class="row contacts-section">
            <div class="col col-md-12">
                <img src="../images/font-icons/location-icon.png">
                <span>Магазин: гр. Ракитово ул."Липа" №20</span>
            </div>
            <div class="col col-md-4">
                <img src="../images/font-icons/phone-icon.png">
                <span>0889 799 182</span>
            </div>
            <div class="col col-md-4">
                <img src="../images/font-icons/phone-icon.png">
                <span>03542 3375</span>
            </div>
            <div class="col col-md-4">
                <img src="../images/font-icons/email-icon-2.png">
                <span>gimi-stroi@abv.bg</span>
            </div>
        </div>
        <div class="row contacts-section">
            <div class="col col-md-12">
                <img src="../images/font-icons/location-icon.png">
                <span>Склад: гр. Ракитово ул."Иван Клинчаров" №4</span>
            </div>
            <div class="col col-md-4">
                <img src="../images/font-icons/phone-icon.png">
                <span>0889 593 419</span>
            </div>
            <div class="col col-md-4">
                <img src="../images/font-icons/phone-icon.png">
                <span>03542 3273</span>
            </div>
            <div class="col col-md-4">
                 <img src="../images/font-icons/email-icon-2.png">
                <span>gimi-stroi@abv.bg</span>
            </div>
        </div>
    </section>
    <section class="map-section">
        <div>
            <h1 class="section-title">Местоположение</h1>
        </div>
        <div id="map" class="map">
        </div>
    </section> 
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOe5Sa0w71RuoUbKliEyqxqnBNvxKHfnY&callback=initMap"></script>