<div class="container"> 
    <section class="page">
        <div class="title">
            <h1 class="title-text">Склад</h1>
            <img src="../images/contacts/builders-materials.png" class="title-img">
        </div>
        <div class="row">
            <div class="col col-md-4 col-sm-6 col-12">
                {{!--images--}}
            </div>
        </div>
    </section>
</div>