<div class="container">
    <section class="home-section">
        <div id="home-slider" class="home-slider">
            <div class="slider-item bgr-1">
                <div class="slider-text">
                    <div class="row">
                        <div class="col col-md-7 col-sm-12 col-12">
                            <div class="text-area">
                                <h1>
                                    Добре дошли в
                                    "ГИ–МИ СТРОЙ” ООД
                                </h1>
                                <p>
                                    Всичко от света на строителството
                                    на един клик разстояние
                                </p>
                                <a href="javascript:;" class="btn btn-default theme-btn">Свържете се с нас</a>
                            </div>
                        </div>
                        <div class="col col-md-5">
                            <img src="../images/man-image.png" class="img-fluid man-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item bgr-2">
                <div class="slider-text">
                    <div class="row">
                        <div class="col col-md-7 col-sm-11 col-11">
                            <div class="text-area">
                                <h1>
                                    Добре дошли в
                                    "ГИ–МИ СТРОЙ” ООД
                                </h1>
                                <p>
                                    Всичко от света на строителството
                                    на един клик разстояние
                                </p>
                                <a href="javascript:;" class="btn btn-default theme-btn">Свържете се с нас</a>
                            </div>
                        </div>
                        <div class="col col-md-5">
                            <img src="../images/man-image.png" class="man-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item bgr-3">
                <div class="slider-text">
                    <div class="row">
                        <div class="col col-md-7 col-sm-11 col-11">
                            <div class="text-area">
                                <h1>
                                    Добре дошли в
                                    "ГИ–МИ СТРОЙ” ООД
                                </h1>
                                <p>
                                    Всичко от света на строителството
                                    на един клик разстояние
                                </p>
                                <a href="javascript:;" class="btn btn-default theme-btn">Свържете се с нас</a>
                            </div>
                        </div>
                        <div class="col col-md-5">
                            <img src="../images/man-image.png" class="man-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info-section">
        <div class="row">
            <div class="col col-md-7 col-12">
                <p class="text-area">
                    „ГИ–МИ СТРОЙ”ООД е създадена през 2002 година със седалище гр.Ракитово.
                    Основната дейност на фирмата е търговия на едро и дребно със строителни материали, 
                    метали, железария, бои, ВиК части, крепежи и строителна химия.
                </p>
            </div>
            <div class="col col-md-5 col-12">
                <img src="../images/info-section-image.jpg" class="img-fluid info-image">
            </div>
        </div>
    </section>
    <section class="gallery-section">
        <div>
            <h1 class="section-title">Галерия</h1>
        </div>
        <ul id="gallery-slider" class="row slider">
            <li class="col">
                <img src="../images/gallery-section/pic-1.jpg" class="img-fluid">
            </li>
            <li class="col">
                <img src="../images/gallery-section/pic-2.jpg" class="img-fluid">
            </li>
            <li class="col">
                <img src="../images/gallery-section/pic-3.jpg" class="img-fluid">
            </li>
            <li class="col">
                <img src="../images/gallery-section/pic-4.jpg" class="img-fluid">
            </li>
            <li class="col">
                <img src="../images/gallery-section/pic-5.jpg" class="img-fluid">
            </li>
            <li class="col">
                <img src="../images/gallery-section/pic-6.jpg" class="img-fluid">
            </li>
        </ul>
    </section>
    <section class="map-section">
        <div>
            <h1 class="section-title">Местоположение</h1>
        </div>
        <div id="map" class="map">
        </div>
    </section>
</div>
