<div class="container"> 
    <section class="page">
        <div class="title">
            <h1 class="title-text">Магазини</h1>
            <img src="../images/contacts/builders-materials.png" class="title-img">
        </div>
        <div class="row">
            <div class="col col-md-6 col-sm-12">
                <ul class="stores-аvailability">
                    <li>бои</li>
                    <li>железария</li>
                    <li>водопровод и баня</li>
                    <li>смесители и аксесоари</li>
                    <li>електроматериали</li>
                    <li>заключващи системи и обков</li>
                    <li>стоки за бита</li> 
                    <li>крепежи</li>
                    <li>електроуреди</li>
                    <li>осветителни тела</li>
                    <li>електрически и ръчни инструменти</li>
                </ul>
            </div>
            <div class="col col-md-6 col-sm-12">
                <ul class="stores-аvailability">
                    <li>градински нструменти и поливни системи</li>
                    <li>отоплителни системи</li>
                    <li>печки на ТГ</li>
                    <li>помпи и агрегати</li>
                    <li>лагери</li>
                    <li>ремъци</li>
                    <li>мебелен обков</li> 
                    <li>инструменти за дървообработващи машини</li>
                    <li>мебели за баня</li>
                    <li>дребна бяла техника</li>
                    <li>полиетиленово фолио</li>
                </ul>
            </div>
        </div>
        <div class="image">
            <img src="../images/man-image.png">
        </div>
    </section>
</div>