<div class="container"> 
    <section class="page">
        <div class="title">
            <h1 class="title-text">Склад</h1>
            <img src="../images/contacts/builders-materials.png" class="title-img">
        </div>
        <div class="row">
            <div class="col col-md-6 col-sm-12">
                <ul class="stores-аvailability">
                    <li>цимент</li>
                    <li>лепила</li>
                    <li>тухли, керамиди</li>
                    <li>PVC олуци</li>
                    <li>поцинковани олуци</li>
                    <li>ламарина</li>
                    <li>ковано желязо</li> 
                    <li>орнаменти за огради</li>
                    <li>въглища</li>
                    <li>вата</li>
                    <li>метални профили</li>
                    <li>PVC части</li>
                    <li>пясък, филц</li>
                </ul>
            </div>
            <div class="col col-md-6 col-sm-12">
                <ul class="stores-аvailability">
                    <li>ондулин</li>
                    <li>воалит</li>
                    <li>ГВ швелер</li>
                    <li>оградна мрежа</li>
                    <li>CD и UD профили</li>
                    <li>мрежа наложна</li>
                    <li>мрежа за цокъл</li> 
                    <li>мрежа строителна</li>
                    <li>чембер /СВ лента/</li>
                    <li>тел</li>
                    <li>PE части и тръби</li>
                    <li>топлоизолации</li>
                </ul>
            </div>
        </div>
        <div class="image">
            <img src="../images/man-image.png">
        </div>
    </section>
</div>