<div class="container"> 
    <section class="page">
        <div class="title">
            <h1 class="title-text">Магазини</h1>
            <img src="../images/stores-background.png" class="title-img">
        </div>
        <div class="row">
            <div class="col col-md-6 col-sm-12">
                <ul class="stores-аvailability first">
                    <li>Бои</li>
                    <li>Железария</li>
                    <li>Водопровод и баня</li>
                    <li>Смесители и аксесоари</li>
                    <li>Електроматериали</li>
                    <li>Заключващи системи и обков</li>
                    <li>Стоки за бита</li> 
                    <li>Крепежи</li>
                    <li>Електроуреди</li>
                    <li>Осветителни тела</li>
                    <li>Електрически и ръчни инструменти</li>
                </ul>
            </div>
            <div class="col col-md-6 col-sm-12">
                <ul class="stores-аvailability">
                    <li>Градински нструменти и поливни системи</li>
                    <li>Отоплителни системи</li>
                    <li>Печки на ТГ</li>
                    <li>Помпи и агрегати</li>
                    <li>Лагери</li>
                    <li>Ремъци</li>
                    <li>Мебелен обков</li> 
                    <li>Инструменти за дървообработващи машини</li>
                    <li>Мебели за баня</li>
                    <li>Дребна бяла техника</li>
                    <li>Полиетиленово фолио</li>
                </ul>
            </div>
        </div>
        <div class="image">
            <img src="../images/men.png">
        </div>
    </section>
</div>